@charset "utf-8";
@import "style-reset.css";

ul{
	float:left;
	padding:0;
	margin:0;
	list-style-type:none;

}

.resultVideoPreview{
	display:inline;
}

.resultVideoInfo{
	display:inline-block;
}

h1{
	font-size: 2em; 
	margin: .67em 0
}
