canvas {
	display: block;
}

p {
	padding: 5px;
	font-size: 20px;
	text-align: center;
}

.recordingStatusOn {
	width: 640px;
	height: 30px;
	background-color: #DD2222;
}

.recordingStatusOff {
	width: 640px;
	height: 30px;
	background-color: #22DD22;
}

.resultItem {
	color: #2B2B2B;
}

.textboxDefault {
	color: #888888;
}

#leftPanel {
	text-align: right;
	float: right;
}

#resultList {
	background-color: #DDDDDD;
	padding: 5px;
}