div {
	display: inline;
}

.top_container {
}

.horizontal_container {
	display: inline;
}

.vertical_container {
	display: block;
}

#leftPanel {
	float: right;
}

#controls {
}

#startStop, #getFrameButton {
	display: inline;
}

canvas {
	display: block;
}

ul {
	text-align: right;
}